<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signin.css" type="text/css">
    <title>Sign In</title>
</head>
<body>
    <div class="topcircle">
        <img src="img/logo1.png" alt="">
    </div>
    <div class="bottomcircle"></div>
    <div class="signin">
        <h1>Sign In</h1>
        <p>Already a member? <span class="login">Log In</span></p><br>
        <a href="/google">
            <img src="https://img-authors.flaticon.com/google.jpg" alt="">
            <span>Sign up with Google</span> 
        </a>
    </div>
</body>
</html>